<h1> Create New Movie </h1>

<form action = "http://localhost:3000/movies/create_movie" >

<div>
<label>Image:</label>
<input type="text" name="the_image">
</div>

<div>
<label>Title:</label>
<input type="text" name="the_title">
</div>

<div>
<label>Year:</label>
<input type="text" name="the_year">
</div>

<div>
<label>Duration:</label>
<input type="text" name="the_duration">
</div>

<div>
<label>Description:</label>
<input type="text" name="the_description">
</div>

<div>
<button>Create Movie</button>
</div>

</form>